@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HPMS</h1>
    <p class="lead">HPMS is a system developed to help keep track of HIV Patients as they seek treatment.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Web Application</h2>
        <p>
            This interface was desined for Doctors and Administrators. It is basically for data entry and few basic views 
        </p>

    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>

    </div>

    <div class="col-md-4">
        <h2>Mobile App</h2>
        <p>Patients will access their charts from the Mobile App. The App is read only as Patients retrieve data entered by Admins and Doctors</p>

    </div>
</div>